.hero--section {
  aspect-ratio: 16/9;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("./assets/hero_background.svg");
  max-height: 960px;
  min-height: 844px;
  padding-top: 56px;
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.03);
}
